<div id="sis-info" class="d-flex flex-row">		
	<img src="img/imagem.gif" class="login-imagem" />
	<div>
		<div class="d-flex flex-row justify-content-between">			
			<div class="painel-texto">
				<h4>Intuito do SG Escolar</h4>
				<p>O sistema de gestão escolar foi criado com o intuito de facilitar o trabalho dos que 
					lidam diariamente com dados escolares</p>													
			</div>
			<div class="painel-texto">
				<h4>Custo benefício</h4>
				<p>Obtenha uma ótima solução para sua organização escolar e facilite o trabalho desempenhado por secretários e 
				professores, oferecendo também importantes informações aos alunos. Tudo isso por um valor que faz valer o investimento.</p>
			</div>
		</div>
		<div class="painel-texto">
			<h4>Por que utilizar?</h4>
			<p>O SG Escolar é uma ótima solução para uso em escolas coordenadas por uma secretaria de educação ou 
				outro órgão, não necessariamente governamental.
			</p>
		</div>		
	</div>	
</div>