<div class="p-2">
	<div id="app-layout">
		<div id="painel-lateral">
		    <div class="painel-lateral-rotulo">SG Escolar</div>
		    <div id="menu-lateral"></div>
		</div>
		<div id="page-content-wrapper" class="w-100 border-start border-dark">
			<nav class="navbar navbar-expand-lg navbar-light navbar-painel">
			    <div class="container-fluid">
			        <button class="btn btn-light" id="mostra-ou-esconde-painel-lateral-btn">
			         	<i class="bi bi-chevron-double-left somente-icone" id="sidebar-toggle-icon"></i>
			        </button>
			        			        
			        <div class="collapse navbar-collapse" id="menu-nav">
			            
			        </div>
			    </div>
			</nav>
			
			<div class="pagina p-3 bg-light">		
				<span id="pagina"></span>
			</div>
		</div>
	</div>
</div>