<div id="painel-lateral">
	<div class="d-flex align-items-center">
	    <div class="painel-lateral-rotulo">SG Escolar</div>
	    <div class="icone-bt ms-auto">
	    	<button class="btn" style="font-size: 1.4em" onclick="appLayout.mostraOuEscondePainelLateral( event )">
				<i class="bi bi-x-lg"></i>
			</button>
		</div>
	</div>
    <div id="menu-lateral"></div>
</div>

<div class="p-2">
	<div id="app-layout">					
		<nav class="navbar-painel">
	        <button class="btn text-light mx-1 p-0" style="font-size: 1.4em" onclick="appLayout.mostraOuEscondePainelLateral( event )">
	         	<i class="bi bi-list somente-icone" id="sidebar-toggle-icon"></i>
	        </button>
	        			        
	        <span id="menu-nav"></span>
		</nav>
									
		<div>						
			<div class="pagina p-3">		
				<span id="pagina"></span>
			</div>
		</div>
	</div>
</div>