<div id="painel-lateral" class="esconder-painel-lateral shadow-lg">
	<div class="d-flex align-items-center">
	    <div class="painel-lateral-rotulo">SG Escolar</div>
    	<button class="btn icone-bt ms-auto" style="font-size: 1.4em" onclick="appLayout.mostraOuEscondePainelLateral( event )">
			<i class="bi bi-arrow-left-square-fill" style="color: #435EBE;"></i>
		</button>
	</div>
    <div id="menu-lateral"></div>
</div>

<div id="app-layout">
	<nav class="navbar-painel">		
        <button class="btn text-light mx-1 p-0" onclick="appLayout.mostraOuEscondePainelLateral( event )">
         	<i class="fas fa-bars display-6"></i>
        </button>
	         
        <span id="perfil-form-el"></span>
        <span id="menu-nav" class="ms-auto"></span>
	</nav>
									
	<div class="container">				
		<span id="layout-mensagem-el"></span>
		<div class="pagina">
			<span id="pagina"></span>
		</div>
	</div>
</div>
