
body {
	background-color: #F80;
	padding-top: 2em;	
}
	
#layout {
	position: relative;
	width: 50em;
	min-height: 30em;
	
	margin: auto;		
	padding: 1em;
	
	border-radius: 5px;
		
	border-color: #ACF;
	background-color: #EEF;
}

.tabela-painel {
	height: 15em;
	display: block;
	border: 1px solid #CCC;
	overflow-y: scroll;
}