
<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
    <li class="nav-item active">
    	<a class="nav-link text-light icone-bt" href="#!" onclick="appLayout.paraInicial()">
            <i class="bi bi-house-fill icone"></i>
    		Inicial
    	</a>
    </li>			               
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light icone-bt" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-gear icone"></i>
        	Configurações
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item icone-bt" href="#!">
            	<i class="bi bi-person-circle icone"></i>
            	Perfil
            </a>
            
            <div class="dropdown-divider"></div>
            
            <a class="dropdown-item icone-bt" href="#!" onclick="appLayout.sair()">
            	<i class="bi bi-box-arrow-left icone"></i>
            	Sair
            </a>
        </div>
    </li>
</ul>