
<div class="painel">
	<h4 class="painel-titulo">Dados de funcionário</h3>
	
	<div class="painel-conteudo">
	
		<div class="row mb-2">				
			<div class="col-sm-8">
				<span id="#{prefixo}codigo_inep"></span>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-sm-6">
				<span id="#{prefixo}escolaridade"></span>
			</div>
			<div class="col-sm-6">
				<span id="#{prefixo}escola_func"></span>
			</div>
		</div>
			
		<div class="row">							
			<div class="col-sm-8">
				<span id="#{prefixo}carga_horaria"></span>
			</div>							
		</div>		
		
		<br />
		<div id="#{prefixo}pessoa_el"></div>		
		<br />
		<div id="#{prefixo}usuario_el"></div>
		
		<span id="#{prefixo}mensagem_el"></span>
	</div>		
</div>		
	