
<div class="px-2">
	<h4 class="painel-titulo">Dados de funcionário</h3>
	
	<div class="painel-info p-2">
	
		<div class="row mb-2">				
			<div class="col-sm-8">
				<span id="#{prefixo}codigo_inep"></span>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-sm-6">
				<span id="#{prefixo}escolaridade"></span>
			</div>
			<div class="col-sm-6">
				<span id="#{prefixo}escola_func"></span>
			</div>
		</div>
			
		<div class="row mb-2">							
			<div class="col-sm-8">
				<span id="#{prefixo}carga_horaria"></span>
			</div>							
		</div>		
	</div>
	<br />
	<span id="#{prefixo}pessoa_el"></span>		
	<br />
	<span id="#{prefixo}usuario_el"></span>
	
	<span id="#{prefixo}mensagem_el"></span>		
</div>		
	