
<div class="painel">
	<h4 class="painel-titulo">Dados de usuário</h4>
	
	<div class="painel-conteudo">	
		<div class="row mb-2">				
			<div class="col-sm-8">
				<span id="#{prefixo}username"></span>
			</div>
		</div>
				
		<div class="row mb-2">
			<div class="col-sm-8">
				<span id="#{prefixo}perfil"></span>
			</div>														
		</div>
		
		<div class="row">
			<div class="col-sm-8">
				<span id="#{prefixo}grupos"></span>
			</div>
		</div>

		<span id="#{prefixo}mensagem_el"></span>						
	</div>		
</div>		
	