		
.app-layout-conteudo {
	position: relative;
	min-height: 30em;
	overflow: auto;
	
	margin: auto;		
	
	border-radius: 5px;
		
	border: 2px solid #000;
	background-color: #273043;
}

.sidebar-menu-rotulo {
	color: #FFF;
}

.sidebar-mi {
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	background-color: #9197AE;
	color: #FFF;
}

.sidebar-mi:hover {
	color: #000;
}
