		
#app-layout {
	position: relative;
	min-height: 30em;
	overflow: auto;
	
	display: flex;
	
	margin: auto;		
	
	border-radius: 0.35em;
		
	border: 0.15em solid #000;
	background-color: #B0BEC5;
}

#painel-lateral {	
  	width: 15rem;
  	min-height: 100vh;
  	  	
	transition: margin 0.25s ease-out;
  	overflow-x: hidden;
}

.esconder-painel-lateral {
  	margin-left: -15rem;
}

.painel-lateral-rotulo {
	display: flex;
	align-items: center;
	
  	height: 2.5em;
  	padding-left: 0.5em;
  	
  	font-size: 1.2em;
	font-family: Georgia, 'Times New Roman', Times, serif;
	
  	color: #FFF;
	text-shadow: 0.1em 0.1em 0.05em #333;
	
	border-bottom: 1px solid #000;
}



