
.campo {
	padding: 0.2em;
	font-size: 1em;	
}

.campo-rotulo {
	font-weight: bolder;
	font-variant: small-caps;
	color: #000;
}

.campo-valor {
	font-family: monospace;

	color: #3355C8;
}

.lista-campo-painel {
	margin: 0;
	padding: 0 1em;
}