
.form-painel {
	padding: 1em;	
	background-color: #FCFCFE;
}

.form-painel .form-painel-titulo {
	position: absolute;
	padding: 0.125em 0.4em;
	margin: -1.5em 0 0 0;
	
	border-radius: 0.6em;
	border: 1px solid #C9C9C9;
	
	font-size: 1.2em;
	line-height: 1em;
	
	background-color: #E9EDFA; 
}

.icon-input-painel i {
	position: absolute;
}

form input[class="form-control"], form select[class="form-control"], .form-painel {
	border-radius: 0.6em;
	border: 1px solid #C9C9C9;	
}

button[type="button"] {
	background-color: #435EBE;
	color: #FFF;
}

button[type="button"]:hover {
	background-color: #536ECE;
	color: #FFF;
}

input[class="form-control"], select[class="form-control"] {	
	color: #253986;
}

input[class="form-control"]:focus, select[class="form-control"]:focus {
	color: #253986;	
}
