
.form-painel {
	padding: 1em;	
	background-color: #FCFCFE;
}

.form-painel .form-painel-titulo {
	position: absolute;
	padding: 0.125em 0.4em;
	margin: -1.5em 0 0 0;
	
	border-radius: 0.6em;
	border: 1px solid #C9C9C9;
	
	font-size: 1.2em;
	line-height: 1em;
	font-weight: bolder;
	
	background-color: #E9EDFA; 
}

.icon-input-painel i {
	position: absolute;
}

form input[class="form-control"], form select[class="form-select"], .form-painel {
	border-radius: 0.6em;
	border: 1px solid #C9C9C9;	
}

button[type="button"]:not(.close):not(.btn-primary):not(.btn-danger):not(.btn-success):not(.btn-light):not(.nao-padrao), 
button[type="submit"]:not(.close):not(.btn-primary):not(.btn-danger):not(.btn-success):not(.btn-light):not(.nao-padrao) {
	background-color: #435EBE;
	color: #FFF;
}

button[type="button"]:not(.close):not(.btn-primary):not(.btn-danger):not(.btn-success):not(.btn-light):not(.nao-padrao):hover,
button[type="submit"]:not(.close):not(.btn-primary):not(.btn-danger):not(.btn-success):not(.btn-light):not(.nao-padrao):hover {
	background-color: #536ECE;
	color: #FFF;
}

form input[class="form-control"], form select[class="form-select"] {	
	color: #253986;
}

form input[class="form-control"]:focus, form select[class="form-select"]:focus {
	color: #253986;	
	box-shadow: none;
	border: 1px solid #C9C9C9;	
}

