
a {
	text-decoration: none;
}

.icone-bt {
	display: flex;
	align-items: center;
}

.icone {
	font-size: 1.4em;
	line-height: 1em;
}

.icone-dim {
	width: 1em;
	height: 1em;
}

.icone::after {
	content: " ";
	white-space: pre;
}

.icone-apos { 
	font-size: 1.4em;
	line-height: 1em;
}

.icone-apos::before {
	content: " ";
	white-space: pre;
}

.somente-icone {
	font-size: 1.4em;
	line-height: 1em;
}

.titulo-link {	
	text-decoration: none;
	color: #000;
}

.titulo-link:hover {
	color: #333;
}

.fonte-bolder {
	font-weight: bolder;
}
