
body {
	background-image: linear-gradient( 180deg, rgba( 50, 120, 180, 0), rgba( 50, 120, 180, 1) );
	background-attachment: fixed;
	font-family: Roboto;
}

a {
	text-decoration: none;
}

.layout-cabecalho {
	width: 100%;
	display: flex;
	align-items: center;	
	justify-content: left;
	padding: 0.4em;	
		
	font-size: 2em;
	line-height: 1em;
		
	background-color: #435EBE;
	border-bottom: 1px solid #FFF;
	color: #FFF;
}


.icone-bt {
	display: flex;
	align-items: center;
}

.icone {
	min-width: 1.6em;
	font-size: 1.4em;
	line-height: 1em;
}

.icone-dim {
	width: 1em;
	height: 1em;
}

.icone::after {
	content: " ";
	white-space: pre;
}

.icone-apos { 
	font-size: 1.4em;
	line-height: 1em;
}

.icone-apos::before {
	content: " ";
	white-space: pre;
}

.somente-icone {
	font-size: 1.4em;
	line-height: 1em;
}

.titulo-link {	
	text-decoration: none;
	color: #000;
}

.titulo-link:hover {
	color: #333;
}

.fonte-bolder {
	font-weight: bolder;
}
