
body {
	background-color: #FFF;	
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
	text-decoration: none;
}

.sombra-box {
	box-shadow: 5px 10px 8px #888888;
}

#login-layout-head{
	text-align: center;
	font: 3em verdana, sans-serif;
	padding: 1em 0;
}
.pagina {
	min-height: 50em;
	background-color: #fff;
}

.pagina-titulo {
	color:#000;
}

.icone-bt {
	display: flex;
	align-items: center;
}

.icone {
	font-size: 1.4em;
	line-height: 1em;
}

.icone-dim {
	width: 1em;
	height: 1em;
}

.icone::after {
	content: " ";
	white-space: pre;
}

.icone-apos { 
	font-size: 1.4em;
	line-height: 1em;
}

.icone-apos::before {
	content: " ";
	white-space: pre;
}

.somente-icone {
	font-size: 1.4em;
	line-height: 1em;
}

.painel-titulo {
	font-weight: bolder;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.painel-info {
	border-radius: 0.35em;
	border-color: #D6D7D8;
}

.campo {
	padding: 0.4em;
	font-size: 1em;	
}

.campo-rotulo {
	font-weight: bolder;
	font-variant: small-caps;
	color: #000;
}

.campo-valor {
	color: #000;
}

.lista-campo-painel {
	margin: 0;
	padding: 0 1em;
}

.titulo-link {	
	text-decoration: none;
	color: #000;
}

.titulo-link:hover {
	color: #333;
}

.fonte-bolder {
	font-weight: bolder;
}
