
table.list-item-tabela-v1 {
	min-width: 100%;
	color: #000;
}

table.list-item-tabela-v1 tbody tr {
	padding: 0.25em;
	
	background-color: #C2C2FF;
	border: 1px solid #D6D7D8;
}

table.list-item-tabela-v1 tbody tr td {
	padding: 0.4em;
}

table.list-item-tabela-v1 tbody tr:hover{
	background-color: #D6D7D8;
}