
#login-layout {
	display: flex;
	flex-direction: column;
	justify-content: center; 
	padding: 0.4em;
}

#login-layout .cabecalho {
	display: flex;
	align-items: center;	
	justify-content: center;
	padding: 0.6em;	
		
	font-size: 2em;
	
	border-radius: 0.4em;
	
	background-color: #435EBE;
	color: #FFF;
}

#login-layout .imagem {
	font-size: 6em;
	line-height: 1em;
	margin: 0.4em;	
	color: #435EBE;
}

#login-layout .painel-login {
	background-color: #FFF;
	color: #435EBE;
}

#login-layout .painel-login-titulo {
	font-weight: bold;
}

#login-layout .painel-login-conteudo {
	background-color: #F8F9FA;
	color: #000;
}

#login-layout .input-icon {
	width: 1.7em;
	font-size: 1.2em;
	line-height: 1em;
	
	padding: 0.4em 0.4em;
	border-radius: 0.3em 0 0 0.3em;
	color: #435EBE;
}

#login-layout .painel-login form input {		
	padding: 0.5em 2em;
	line-height: 1em;
	border-radius: 0.35em;
	border: 1px solid #435EBE;
	box-shadow: none;
}




