@charset "UTF-8";

#menu-lateral {
	width: 100%;
	background-color: #313A46;
}

a.menu-lateral-mi {
	display: flex;
	align-items: center;
	padding: 0.35em 1em;
	color: #D6D7D8;
}

ul.submenu-lateral {
	margin: 0;
	list-style: none;
	padding: 0.5em 0;
}

ul.submenu-lateral li {
	padding: 0.4em 2em;	
} 

a.submenu-lateral-mi {	
	font-size: 0.75em;

	color: #D6D7D8;	
}

a.menu-lateral-mi:hover {
	background-color: #D6D7D8;
	color: #000;	
}

a.submenu-lateral-mi li {	
	display: flex;
	align-items: center;
}

a.submenu-lateral-mi li:hover {
	background-color: #D6D7D8;	
	color: #000;
}
