
.navbar-painel {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
		
	border-radius: 0.4em;
	
	background-color: #313A46;	
}

.navbar-painel ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar-painel ul li {
	padding: 0;
	margin: 0;
}

.navbar-painel ul li a.navbar-opcao {
	padding: 0.8em 0.6em;
	color: #FFF;
}

.navbar-painel ul li a.navbar-opcao:visited {
	color: #FFF;
}

a.navbar-sub-opcao {
	padding: 0.4em 0.6em;
	
	border-radius: 0.3em;
	color: #313A46;
}

.navbar-sub-opcao:visited {
	color: #313A46;
}

.navbar-sub-opcao:hover{
	padding: 0.4em 0.6em;
	background-color: #A3A5A7;
	color: #313A46;
}

.navbar-submenu {
	padding: 0;
		
	background-color: #F4F3FC;
	border: 1px solid #313A46;
	color: #313A46;	
}
