.navbar-painel {
	display: flex;
	align-items: center;
	height: 3em;
}

.navbar-opcao {
	padding: 0 0.6em;
	color: #000;
}

.navbar-opcao:visited {
	color: #000;
}

.navbar-sub-opcao {
	padding: 0 0.6em;
	background-color: #313A46;
	color: #D6D7D8;
}

.navbar-sub-opcao:visited {
	color: #D6D7D8;
}

.navbar-submenu {
	background-color: #313A46;
}