@charset "UTF-8";

#menu-lateral {
	width: 100%;
	padding: 0 1.5em;
}

.painel-lateral-rotulo{
	color: #435EBE;
}

.menu-lateral-titulo {
	font-size: 1.5em;
	margin: 0.4em 0;
	color: #435EBE;
}

a.menu-lateral-mi {
	display: flex;
	align-items: center;
	padding: 0.5em;
}

ul.submenu-lateral {
	margin: 0;
	padding: 0.8em 1.4em;

	list-style: none;
}

ul.submenu-lateral li {
	padding: 0.4em 2em;	
} 

a.submenu-lateral-mi {	
	font-size: 0.75em;
}

a.submenu-lateral-mi li {	
	display: flex;
	align-items: center;
}

.menu-lateral-mi, .submenu-lateral-mi {
	color: #435EBE;
}

a.submenu-lateral-mi li:hover {
	margin-left: 0.5em;
}

a.menu-lateral-mi:hover, a.submenu-lateral-mi li:hover {
	border-radius: 0.4em;
	
	background-color: #F0F1F5;	
}
 

.menu-lateral-opcao-ativa {
	border-radius: 0.4em;
	
	background-color: #435EBE;
	color: #FFF;	
}
