
.perfil-select-painel {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 0.8em;
}

.perfil-select-painel .select-field {
	margin: 0.35em;
	width: 9em;
}

.perfil-select-painel .select-field label {
	color: #FFF;
}

.perfil-select-painel select {
	font-size: 0.8em;
}

.perfil-select-painel button {
	font-size: 0.8em;
}
