.tabela-painel {
	border-collapse: collapse;
	min-height: 15em;
	max-height: 30em;
	display: block;
	overflow-y: auto;	
}

table.tabela thead {
	background-color: #313A46;
	color: #D6D7D8;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

table.tabela thead th, table.tabela tbody td{
	padding: 0.6em;
}

table.tabela tbody tr{
	background-color: #fff;
}

table.tabela tbody tr:hover{
	background-color: #D6D7D8;
}