.tabela-painel {
	border-collapse: collapse;
	min-height: 15em;
	max-height: 30em;
	display: block;
	overflow-y: auto;	
}

<<<<<<< HEAD
.tabela-painel table thead {
	background-color: #435EBE;
	color: #FFF;
	font-family: Georgia, 'Times New Roman', Times, serif;
=======
table.tabela thead {
	background-color: #435EBE;
	color: #FFF;
>>>>>>> branch 'dev-entidades-config-e-instituicao' of https://github.com/italoherbert/sgescolar.git
}

table.tabela thead th, table.tabela tbody td {
	padding: 0.6em;
}

table.tabela tbody tr {
	background-color: #fff;
}

table.tabela tbody tr:nth-child(2n) {
	background-color: #E9EDFA;
}

table.tabela tbody tr:hover{
	background-color: #D6D7D8;
}