
table.tabela-plano-obj-con {
	min-width: 100%;
	color: #000;
}

table.tabela-plano-obj-con tbody tr {
	padding: 0.25em;
	
	background-color: #C2C2FF;
	border: 1px solid #D6D7D8;
}

table.tabela-plano-obj-con tbody tr td {
	padding: 0.4em;
}

table.tabela-plano-obj-con tbody tr:hover{
	background-color: #D6D7D8;
}