<form name="perfil_select_form">
	<div class="perfil-select-painel">
		<div class="form-group select-field" id="instituicao-perfil-select-field">
			<label for="perfil_instituicao">Instituição</label>
			<select id="perfil_instituicoes_select" name="perfil_instituicao" class="form-select"></select>
		</div>
		<div class="form-group select-field" id="escola-perfil-select-field">
			<label for="perfil_escola">Escola</label>
			<select id="perfil_escolas_select" name="perfil_escola" class="form-select"></select>
		</div>
		<div class="form-group select-field">
			<label for="perfil_anoletivo">Ano letivo</label>
			<select id="perfil_anosletivos_select" name="perfil_anoletivo" class="form-select"></select>
		</div>
		<div class="form-group select-field">
			<label for="perfil_turma">Turma</label>
			<select id="perfil_turmas_select" name="perfil_turma" class="form-select"></select>
		</div>
		<div class="form-group select-field">
			<label for="perfil_professor">Professor</label>
			<select id="perfil_professores_select" name="perfil_professor" class="form-select"></select>
		</div>
		<div class="form-group select-field">
			<label for="perfil_turma_disciplina">Disciplina</label>
			<select id="perfil_turmas_disciplinas_select" name="perfil_turma_disciplina" class="form-select"></select>
		</div>
		
		<div class="form-group mx-2">
			<span>&nbsp;</span>
			<button type="button" class="btn btn-light btn-bg-light icone-bt" onclick="perfilService.alteraPerfil()">
				<i class="bi bi-person-square icone"></i>
				Alterar perfil
			</button>		
		</div>
	</div>
</form>
<span id="perfil-select-mensagem-el"></span>