
<div>
	<a class="sidebar-mi list-group-item list-group-item-action p-3" href="#!">
		<i class="bi bi-person icone"></i>
		Usuarios
	</a>
    <a class="sidebar-mi list-group-item list-group-item-action p-3" href="#!">
		<i class="bi bi-people icone"></i>
    	Grupos
    </a>
    <a class="sidebar-mi list-group-item list-group-item-action p-3" href="#!">
		<i class="bi bi-box-seam icone"></i>
    	Recursos
    </a>
    <a class="sidebar-mi list-group-item list-group-item-action p-3" href="#!">
		<i class="bi bi-gear icone"></i>
    	Configurações
    </a>
</div>