
<div class="card p-3 border border-dark shadow-lg">
	<h4 class="painel-titulo">Informações para contato</h4>
	
	<div class="row">			
		<div class="form-group mb-2 col-sm-6">
			<label for="#{prefixo}telefone_fixo">Telefone fixo:</label>
			<input type="tel" name="#{prefixo}telefone_fixo" class="form-control" />
		</div>
		
		<div class="form-group col-sm-6">
			<label for="#{prefixo}telefone_celular">Telefone celular:</label>
			<input type="tel" name="#{prefixo}telefone_celular" class="form-control" />
		</div>
	</div>
	<div class="row">			
		<div class="form-group col-sm-8">
			<label for="#{prefixo}email">E-mail:</label>
			<input type="email" name="#{prefixo}email" class="form-control" />
		</div>					
	</div>
	<br />
	<span id="#{prefixo}contato_info_mensagem_el"></span>	
</div>	
				