
<div>
	<a class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.paraTelaEscolas()">
		<i class="fas fa-school icone"></i>
		Escolas
	</a>
	
	<a class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.mostraOuEscondeSubmenu( 'pessoas_' );">				
		<i class="fas fa-user-alt icone"></i>
	    Pessoas &nbsp;
	    <i class="icomoon-cheveron-down icone d-inline-block visible" id="pessoas_mi_down"></i>
	    <i class="icomoon-cheveron-up icone d-none hidden" id="pessoas_mi_up"></i>
	</a>
	<ul class="submenu-lateral d-none hidden" id="pessoas_submenu">
		<a class="submenu-lateral-mi" href="#!" onclick="menuLateral.paraTelaAlunos()">
			<li class="icone-bt">
				<i class="fas fa-user-graduate icone"></i>
				Alunos
			</li>
		</a>				  
		<a class="submenu-lateral-mi" href="#!" onclick="menuLateral.paraTelaProfessores()">
			<li class="icone-bt">
				<i class="fas fa-user-tie icone"></i>
				Professores
			</li>
		</a>
		<a class="submenu-lateral-mi" href="#!" onclick="menuLateral.paraTelaSecretarios()">
			<li class="icone-bt">
				<i class="fas fa-user-tag icone"></i>
				Secretários
			</li>
		</a>
    </ul> 
    <a class="menu-lateral-mi icone-bt" href="#!">
		<i class="fas fa-user icone"></i>
		Usuarios
	</a>
	<a class="menu-lateral-mi icone-bt" href="#!">
		<i class="fas fa-users icone"></i>
    	Grupos
    </a>
    <a class="menu-lateral-mi icone-bt" href="#!">
		<i class="fas fa-th-large icone"></i>
    	Recursos
    </a>
    <a class="menu-lateral-mi icone-bt" href="#!">
		<i class="fas fa-cogs icone"></i>
    	Configurações
    </a>
</div>