
<div id="menu-lateral-painel">	
	<div class="menu-lateral-titulo">Menu</div>
	
	<a id="horario-do-aluno-mi-el" class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.paraPagina( 'horario-do-aluno' )">
		<i class="fas fa-clock icone"></i>
		Horário do aluno
	</a>
			
    <a id="lista-frequencia-tela-mi-el" class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.paraPagina( 'lista-frequencia' )">
		<i class="fas fa-list-ul icone"></i>
		Lista de frequência
	</a>
	
	<a id="avaliacao-tela-mi-el" class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.paraPagina( 'avaliacao-tela' )">
		<i class="fas fa-percent icone"></i>
		Avaliações
	</a>
	
	<a id="planejamento-tela-mi-el" class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.paraPagina( 'planejamento-tela' )">
		<i class="fas fa-globe icone"></i>
		Planejamento
	</a>
	
	<a id="turma_submenu_op" class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.mostraOuEscondeSubmenu( 'turma_' );">
		<div class="d-flex w-100">
    		<span>			 				
				<i class="bi bi-people-fill icone"></i>
	    		Turmas
	    	</span>
	    	<span class="ms-auto d-flex align-items-center">
			    <i class="fas fa-caret-down icone d-inline-block visible" id="turma_mi_down"></i>
			    <i class="fas fa-caret-up icone d-none hidden" id="turma_mi_up"></i>
	    	</span>
	    </div>
	</a>	
	<ul class="submenu-lateral d-none hidden" id="turma_submenu">
		<a id="turma-tela-mi-el" class="submenu-lateral-mi" href="#!" onclick="menuLateral.paraPagina( 'turma-tela' )">				
			<li>Tela principal</li>
		</a>				  		
		<a id="horario-tela-mi-el" class="submenu-lateral-mi" href="#!"	onclick="menuLateral.paraPagina( 'horario-tela' )">				
			<li>Horário</li>
		</a>
		<a id="matricula-mi-el" class="submenu-lateral-mi" href="#!" onclick="menuLateral.paraPagina( 'matricula-tela' )">				
			<li>Matricula de aluno</li>
		</a>		
    </ul>			
		
	<a id="curso-tela-mi-el" class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.paraPagina( 'curso-tela' )">
		<i class="bi bi-book-fill icone"></i>
		Cursos
	</a>
	
	<a id="serie-tela-mi-el" class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.paraPagina( 'serie-tela' )">
		<i class="fas fa-chalkboard icone"></i>
		Séries
	</a>
	
	<a id="disciplina-tela-mi-el" class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.paraPagina( 'disciplina-tela' )">
		<i class="fas fa-chalkboard-teacher icone"></i>
		Disciplinas
	</a>
		
	<a id="vinculo_submenu_op" class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.mostraOuEscondeSubmenu( 'vinculo_' );">
		<div class="d-flex w-100">
    		<span>			 				
				<i class="fas fa-link icone"></i>
	    		Vínculos
	    	</span>
	    	<span class="ms-auto d-flex align-items-center">
			    <i class="fas fa-caret-down icone d-inline-block visible" id="vinculo_mi_down"></i>
			    <i class="fas fa-caret-up icone d-none hidden" id="vinculo_mi_up"></i>
	    	</span>
	    </div>						 
	</a>
	<ul class="submenu-lateral d-none hidden" id="vinculo_submenu">
		<a id="turma-disciplina-mi-el" class="submenu-lateral-mi" href="#!" onclick="menuLateral.paraPagina( 'turma-disciplina-tela' )">				
			<li>Turma e Disciplina</li>
		</a>				  		
		<a id="professor-alocacao-mi-el" class="submenu-lateral-mi" href="#!"	onclick="menuLateral.paraPagina( 'professor-alocacao-tela' )">				
			<li>Alocação de professor</li>
		</a>				
    </ul>	
						    
    <a id="anoletivo_submenu_op" class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.mostraOuEscondeSubmenu( 'anoletivo_' );">
		<div class="d-flex w-100">
    		<span>			 				
				<i class="fas fa-calendar-alt icone"></i>
	    		Anos letivos
	    	</span>
	    	<span class="ms-auto d-flex align-items-center">
			    <i class="fas fa-caret-down icone d-inline-block visible" id="anoletivo_mi_down"></i>
			    <i class="fas fa-caret-up icone d-none hidden" id="anoletivo_mi_up"></i>
	    	</span>
	    </div>						 
	</a>
	<ul class="submenu-lateral d-none hidden" id="anoletivo_submenu">
		<a id="anoletivo-tela-mi-el" class="submenu-lateral-mi" href="#!" onclick="menuLateral.paraPagina( 'anoletivo-tela' )">				
			<li>Tela principal</li>
		</a>				  		
		<a id="periodo-tela-mi-el" class="submenu-lateral-mi" href="#!"	onclick="menuLateral.paraPagina( 'periodo-tela' )">				
			<li>Períodos</li>
		</a>
		<a id="feriado-tela-mi-el" class="submenu-lateral-mi" href="#!" onclick="menuLateral.paraPagina( 'feriado-tela' )">				
			<li>Feriados</li>
		</a>
    </ul>
    
    <a id="pessoa_submenu_op" class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.mostraOuEscondeSubmenu( 'pessoa_' );">
    	<div class="d-flex w-100">
    		<span>			 				
				<i class="fas fa-user-alt icone"></i>
	    		Pessoas
	    	</span>
	    	<span class="ms-auto d-flex align-items-center">
			    <i class="fas fa-caret-down icone d-inline-block visible" id="pessoa_mi_down"></i>
			    <i class="fas fa-caret-up icone d-none hidden" id="pessoa_mi_up"></i>
	    	</span>
	    </div>
	</a>
	<ul class="submenu-lateral d-none hidden" id="pessoa_submenu">
		<a id="aluno-tela-mi-el" class="submenu-lateral-mi" href="#!" onclick="menuLateral.paraPagina( 'aluno-tela' )">				
			<li>Alunos</li>
		</a>				  
		<a id="professor-tela-mi-el" class="submenu-lateral-mi" href="#!" onclick="menuLateral.paraPagina( 'professor-tela' )">				
			<li>Professores</li>
		</a>
		<a id="secretario-tela-mi-el" class="submenu-lateral-mi" href="#!" onclick="menuLateral.paraPagina( 'secretario-tela' )">				
			<li>Secretários</li>
		</a>
		<a id="administrador-tela-mi-el" class="submenu-lateral-mi" href="#!" onclick="menuLateral.paraPagina( 'administrador-tela' )">				
			<li>Administradores</li>
		</a>
    </ul>
    
    <a id="instituicao-tela-mi-el" class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.paraPagina( 'instituicao-tela' )">
		<i class="fas fa-building icone"></i>
		Instituição
	</a>
	
	<a id="escola-tela-mi-el" class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.paraPagina( 'escola-tela' )">
		<i class="fas fa-school icone"></i>
		Escolas
	</a>
	     
    <a id="usuario-tela-mi-el" class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.paraPagina( 'usuario-tela' )">    		
		<i class="fas fa-user icone"></i>
		Usuarios
	</a>
	<a id="usuario-grupo-tela-mi-el" class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.paraPagina( 'usuario-grupo-tela' )">
		<i class="fas fa-users icone"></i>
    	Grupos
    </a>
    <a id="recurso-tela-mi-el" class="menu-lateral-mi icone-bt" href="#!" onclick="menuLateral.paraPagina( 'recurso-tela' )">
		<i class="fas fa-th-large icone"></i>
    	Recursos
    </a>
    <a id="configuracoes-tela-mi-el" class="menu-lateral-mi icone-bt" href="#!">
		<i class="fas fa-cogs icone"></i>
    	Configurações
    </a>
</div>